/*
 * Tweet Button Admin Form
 */

/* add spacing to button previews */
#tweet-button-admin div.preview {
  margin-top:0.5em;  
  }
  
/* line up related account & description */
#tweet-button-admin #edit-tweet-button-related-wrapper,
#tweet-button-admin #edit-tweet-button-related-descr-wrapper {
  float:left;
  width:48%;
  }
#tweet-button-admin #edit-tweet-button-related-descr-wrapper {
  float:right;  
  }